@use "variables" as variables;

:host ::ng-deep {
  .mat-mdc-list-item {
    &:hover {
      background: variables.$outlined-button-bg;
    }

    &.active {
      background: variables.$outlined-button-bg;

    }
  }
}

::ng-deep .cdk-overlay-pane .mat-mdc-menu-panel {
  background-color: variables.$outlined-button-bg !important;
  min-width: 200px;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: variables.$main-bg;
}

.toolbar-title {
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  margin-left: 8px;
}

.user-menu-header {
  padding: 8px 16px;

  .user-role {
    font-weight: bold;
  }

  .user-email {
    font-size: 12px;
    opacity: 0.8;
  }
}

.sidenav-container {
  flex: 1;
  margin-top: 64px;
}

.sidenav {
  padding: 0.5rem 1rem;
  width: 240px;
  background: #fff;
}

.content {
  padding: 0 1rem;
  background: variables.$main-bg;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
  .sidenav-container {
    margin-top: 56px;
  }

  .username {
    display: none;
  }
}
