@use "variables" as variables;

:host ::ng-deep {
  .mat-mdc-raised-button:not(:disabled) {
    background: variables.$primary-color !important;
    color: variables.$white;
    box-shadow: none;

    &:hover {
      transition: all 300ms ease-in-out;
      background: variables.$regular-button-hover-bg
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.error-message {
  color: variables.$error-toast-border;
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}
